beautifulsoup4~=4.9.3
soupsieve~=2.2.1
pip~=20.3.3
certifi~=2020.6.20
chardet~=3.0.4
urllib3~=1.25.10
six~=1.15.0
greenlet~=1.0.0
psycopg2~=2.8.6
idna~=2.10
selenium~=3.141.0
urlcanon~=0.3.1
setuptools~=47.1.0
SQLAlchemy~=1.4.2
attrs~=20.2.0
zipp~=3.3.0
nltk~=3.5